@import "grid.css";


#idfooter {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    /*padding: 20px;*/
    height: 75px;
    margin-top: 0; /*10px;*/
  }

h1{
  text-align: center;
}
/* Adjust the position and size of the navigation bar */
nav {
  background-color: #333; /* Change the background color */
  text-align: right; /* Align elements to the right */

  /* Set a fixed height for the navigation bar */
  height: 50px;
}

/* Adjust the spacing between navigation links */
.nav-link {
  margin-right: 20px; /* Add right margin for spacing */
}

/* Display navigation links horizontally */
.navbar-nav {
  display: flex;
  align-items: center; /* Vertically center align links */
}

/* Styles para el Dark Mode Toggle Button */
#dark-mode-button {
  background-color: #333;
  position: right;
  width: 100px;
  height: 30px;
  box-shadow: inset 4px 4px 6px #cecece
              inset -4px -4px 6px #fff;
  color: #fff;
  margin: 0px auto;
  margin-top: 350px;
  border-radius: 25px;
  cursor: pointer;
}
/* Media query for responsive design (adjust size for smaller screens) */
@media (max-width: 768px) {
  nav {
    height: 40px; /* Adjust the height for smaller screens */
  }
}
/* aca hago el modo oscuro */
body {
  transition: background-color 2s, color 2s;
}

.modo-oscuro {
  background-color: #222222 ;
  color: aliceblue
}


/* aca hago el menu highlighteado */
.selected {
  font-weight: bold;
  color: antiquewhite;
  font-size: 30px; /*  mas grande y de otro color */
}

.redsoc {
  font-weight: bold;
  color: antiquewhite;
  font-size: 30px
}

.face{
  width: 5px;
  height: 5px;
}

.insta{
  width: 5px;
  height: 5px;
}

.twitter{
  width: 5px;
  height: 5px;
}
  .comentario-card {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
  }
  
  .comentador-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .comentario-text {
    font-size: 16px;
  }
  
  .comentario-timestamp {
    color: #888;
  }

.cuadro{
    display: flex;
    width: 100%;
    margin: 10px;
    padding:5px ;
    background-color: black;
    color: whitesmoke;
}

.cuadrito {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    border: 2px;
    border-color: aliceblue;
}
.boximg{
    width: 60% ;
    height: auto;
}

/* CSS for larger images on hover */
.boximg:hover {
    transform: scale(1.2); /* Increase the size by 20% on hover */
    transition: transform 0.3s ease; /* Smooth transition effect */
  }